{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="{{ SETUP.meta_key|default:'' }}">
	<meta name="description" content="{{ SETUP.meta_key|default:'' }}">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1">
{#	<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />#}
	<title>{{ SETUP.title|default:'onlinesadik.com' }}</title>
	<link media="all" rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}" />
	<link media="all" rel="stylesheet" type="text/css" href="{% static 'css/jquery.fancybox.css' %}" />
	<script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
	<script src="{% static 'js/jquery.validate.js' %}"></script>
	<script src="{% static 'js/jquery.fancybox.js' %}"></script>
	<script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
	<script src="{% static 'js/typed.min.js' %}"></script>
	<!--[if lt IE 9]><script type="text/javascript" src="{% static 'js/html5.js' %}"></script><![endif]-->
	<script src="{% static 'js/all.js' %}"></script>
  {{ SETUP.top_js|safe|default:'' }}
  {% block extra_top %}
  {% endblock %}
</head>
<body>	
	<div id="wrapper">
		<header class="header">	
			<div class="header-top">
				<div class="holder">
					<div class="header-logo">
						<img src="{% static 'images/logo.png' %}" alt="">
						<div class="header-logo-text">Onlinesadik<span>.com</span></div>
					</div>
					<div class="header-right">
						<a href="tel:{{ SETUP.phone_format|default:'88002503450' }}" class="header-phone">{{ SETUP.phone|default:'8 800  250-34-50' }}</a>
						<div class="header-link"><a href="#popup" class="fancybox">Закажите обратный звонок</a></div>
					</div>
					<div class="header-center">Бесплатный <b>вебинар</b></div>
				</div>
			</div>
    {% block header_content %}
			<div class="header-main">
				<div class="holder">
					<div class="header-block">
						<div class="header-column">
							<h1>Как создать <br>пассивный доход от <span>150 000 рублей в месяц</span></h1>
							<div class="header-note">
								<b>Регистрация бесплатна</b>
								Количество мест ограничено
							</div>
							<div class="header-video">
                <iframe src="https://www.youtube.com/embed/kQKf9FvgMGM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
							</div>
						</div>
						<div class="header-form" id="form-block">
							<div class="header-form-top">
								<span>23.05.2018  |  17:00</span>
							</div>
							<div class="header-form-block">
								<div class="form-title">Заполните форму <br>для участия в вебинаре</div>
								<form action="{% url 'ticket' %}" method="post">
                  {% csrf_token %}
									<fieldset>
										<input name="name" type="text" class="input" placeholder="Ваше имя">
										<input name="phone" type="text" class="input" placeholder="Телефон">
										<input name="mail" type="text" class="input" placeholder="E-mail">
                    <input type="hidden" name="theme" value="Участие в вебинаре">
										<div class="form-button">
											<button class="submit">Зарегистрироваться</button>
										</div>	
										<div class="check-item">
											<input type="checkbox" name="terms" id="check1" class="check-input" checked>
											<label for="check1" class="check-label">Я согласен на <a href="#popup2" class="fancybox">обработку персональной информации</a></label>
										</div>
									</fieldset>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
    {% endblock %}
		</header>
		<section class="about">
			<div class="holder">
      {% block about_content %}
				<h2>Кто проводит вебинар</h2>
				<div class="people">
					<div class="people-item">
						<div class="people-img">
							<img src="{% static 'images/man1.jpg' %}" alt="">
						</div>
						<div class="people-content">
							<div class="people-float">
								<div class="people-name">Лунев Валерий</div>
								<div class="people-text">Основатель проекта<br> онлайн садик<br> <a href="http://franchise.onlinesadik.com">www.franchise.onlinesadik.com</a></div>
							</div>
						</div>
					</div>
					<div class="people-item">
						<div class="people-img">
							<img src="{% static 'images/man2.jpg' %}" alt="">
						</div>
						<div class="people-content">
							<div class="people-float">
								<div class="people-name">Хамидуллин Артур</div>
								<div class="people-text">Директор по<br> франчайзингу<br> <a href="http://franchise.onlinesadik.com">www.franchise.onlinesadik.com</a></div>
							</div>
						</div>
					</div>
				</div>
				<h2>Программа бесплатного вебинара</h2>
				<div class="about-block">
					<div class="about-column">
						<div class="about-item">
							<div class="about-num">1</div>
							<div class="about-content">
								<div class="about-float">Презентация сервиса<br> и обновлений «Онлайн садик»</div>
							</div>
						</div>
						<div class="about-item">
							<div class="about-num">2</div>
							<div class="about-content">
								<div class="about-float">Как зарабатывать в проекте?</div>
							</div>
						</div>
						<div class="about-item">
							<div class="about-num">3</div>
							<div class="about-content">
								<div class="about-float">Что получают партнеры проекта?</div>
							</div>
						</div>
						<div class="about-item">
							<div class="about-num">4</div>
							<div class="about-content">
								<div class="about-float">Успешные истории партнеров<br> в прямом эфире</div>
							</div>
						</div>
						<div class="about-item">
							<div class="about-num">5</div>
							<div class="about-content">
								<div class="about-float">Планы развития на год</div>
							</div>
						</div>
					</div>
					<div class="about-column">
						<div class="about-item">
							<div class="about-num">6</div>
							<div class="about-content">
								<div class="about-float">Как сэкономить до 50%<br> на оборудовании?</div>
							</div>
						</div>
						<div class="about-item">
							<div class="about-num">7</div>
							<div class="about-content">
								<div class="about-float">Пошаговый план запуска в городе</div>
							</div>
						</div>
						<div class="about-item">
							<div class="about-num">8</div>
							<div class="about-content">
								<div class="about-float">ВОПРОСЫ участников вебинара</div>
							</div>
						</div>
						<div class="about-item">
							<div class="about-num">9</div>
							<div class="about-content">
								<div class="about-float">Персональная скидка 20% на покупку франшизы для участников вебинара</div>
							</div>
						</div>
						<div class="about-item">
							<div class="about-num">10</div>
							<div class="about-content">
								<div class="about-float">Дополнительный бонус</div>
							</div>
						</div>
					</div>
				</div>
      {% endblock %}
			</div>
		</section>
  {% block footer %}
		<footer class="footer">
			<div class="holder">
				<h2>Заполните форму для участия</h2>
				<div class="footer-button">
					<a href="#form-block" class="button scroll">Зарегистрироваться</a>
				</div>
				<div class="footer-note">
					<b>Регистрация бесплатна</b>
					Количество мест ограничено
				</div>
			</div>
		</footer>
  {% endblock %}
		<div id="popup" class="popup">
			<div class="order-form">
				<div class="form-title">Заказать обратный звонок</div>
				<form action="{% url 'ticket' %}" method="post">
          {% csrf_token %}
					<fieldset>
						<input name="name" type="text" class="input" placeholder="Ваше имя">
						<input name="phone" type="text" class="input" placeholder="Телефон">
            <input type="hidden" name="theme" value="Обратный звонок">
						<div class="form-button">
							<button class="submit">Заказать звонок</button>
						</div>	
						<div class="check-item">
							<input type="checkbox" name="terms" id="check2" class="check-input" checked>
							<label for="check2" class="check-label">Я согласен на <a href="#popup2" class="fancybox">обработку персональной информации</a></label>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<div id="popup2" class="text-popup">
			<h2>Пользовательское соглашение</h2>
      <p>Принимая условия настоящего Соглашения сторона, оставившая заявку (зарегистрировавшись) на сайте (далее - Заявитель),
        подтверждает, что тем самым дает Индивидуальному предпринимателю Луневу Валерию Александровичу (ОГРН 309345903700027)
        свое согласие на обработку его персональных данных в соответствии с Федеральным Законом от 27.07.2006 г. № 152-ФЗ
        «О персональных данных», с использованием средств автоматизации или без использования таких средств с целью ведения
        информационного учета в соответствии с требованиями законодательства Российской Федерации.</p>
      <p>Заявитель предоставляет Индивидуальному предпринимателю Луневу Валерию Александровичу (ОГРН 309345903700027) право
        осуществлять следующие действия (операции) с его персональными данными: сбор, систематизацию, накопление,
        хранение, уточнение (обновление, изменение), использование, распространение (в том числе передачу третьим лицам),
        обезличивание, блокирование, уничтожение. Заявитель подтверждает, что настоящее согласие дается добровольно и
        действует бессрочно.</p>
		</div>	
	</div>
{{ SETUP.bottom_js|safe|default:'' }}
</body>
</html>