{% extends 'index.html' %}
{% block extra_top %}
  <script type="text/javascript">
		setTimeout('location.replace("https://my.webinar.fm/go/onlin123/onlinesadik")', 3000);
	</script>
  <style>
  #wrapper {
    height: 100%;
  }
  .about {
    height: 100%;
  }
  </style>
{% endblock %}
{% block header_content %}
{% endblock %}
{% block about_content %}
<h2>Спасибо за регистрацию!</h2>
<p class="header-center">Сейчас вы будете перенаправлены на страницу вебинара.</p>
<p class="header-center">До скорой встречи!</p>
{% endblock %}
{% block footer %}
{% endblock %}